@charset "UTF-8";

/*共通部分
-------------------------------:*/
html {
    font-size: 100%;
}
body{
    font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDPGothic", sans-serif;
    line-height: 1.7;
    color: #432;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
/* レイアウト*/
.wrapper {
    max-width: 1160px;
    margin: auto;
    padding: 0 1.5rem;
}
.align-center {
    text-align: center;
}

/* 写真 */
.example {
    text-align: center;
    margin-top: 5rem;
}
/*見出し*/
.font-english {
    font-family: 'Philosopher', sans-serif;
    font-weight: normal;
}
.page-title,
.heading-large,
.heading-medium {
    font-size: 1.0rem;
    text-align: center;
    margin-top: 0rem;
    line-height: 1.6;
}
.heading-large {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
}
/*ヘッダー
-------------------------------*/
.page-header {
    padding-top: .5rem;
}
.logo {
    width: 210px;
}
.main-nav {
    display: flex;
    justify-content: right;
    gap: 1.5rem;
    font-size: 1.5rem;
    list-style: none;
}
.main-nav a {
    color: #432;
}
.main-nav a:hover {
    color: #0bd;
}
/* ボタン */
.btn {
    display: inline-block;
    font-size: 0.8rem;
    background-color: #0bd;
    color: #fff;
    border-radius: 8px;
    padding: .75rem 1.5rem;
    transition: .5s;
    margin-top: 5rem;
}
.btn:hover {
    scale: 1.2;
}
/* フッター */
.page-footer {
    background-size: cover;
    background-position: center;
    padding-top: 5rem;
}
.info {
    width: 100%;
    max-width: 544px;
    margin: auto;
    padding: 0 1.5rem;
    border-spacing: 0;
    margin-top: 1rem;
}
.info th,
.info td {
    border-bottom: 1px solid #c9c2bc;
    font-size: 0.9rem
}
.info th {
    text-align: left;
    font-weight: normal;
    padding: 1rem;
}
.info td {
    padding: 1rem 0;
}